extends baseEmail

block content
  p Hi #{firstName},
  p We're sorry to inform you that your booking failed. It could have been caused because the tour date you chose has been already fully booked. Please try to book another date or tour. The amount you paid for the tour will be automatically refunded.
  p If you need any help with booking your next tour, please don't hesitate to contact me!
  p - Jonas Schmedtmann, CEO