extends baseEmail

block content
  p Hi #{firstName},
  p Your booking has been successfully completed. Please check your 'My Bookings' page to see your booknings.
  p If you need any help with booking your next tour, please don't hesitate to contact me!
  p - Jiwon Yoon, CEO