extends base

block content
  main.main
    #signup-form.login-form
      h2.heading-secondary.ma-bt-lg Sign up for Natours
      form.form
        .form__group
          label.form__label(for='name') Name
          input.form__input(name='name', type='text')
        .form__group
          label.form__label(for='email') Email address
          input.form__input(name='email', type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') Password
          input.form__input(name='password', type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='passwordConfirm') Password confirm
          input.form__input(name='passwordConfirm', type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green Sign up